#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 4px solid ;
    color: black;
}
#scoreText{
    font-family: "Permanent Marker",cursive;
    font-size: 100px;
    color: black;
}
#startAgainBtn{
    font-family: "Permanent Marker",cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
    

}